/* GENERICS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header-container{
    position: relative;
}
.jumbatron-container{
    max-width: 1400px;
    margin: 0 auto;
}
/* UTILS */
body{
    font-family: 'Open Sans', sans-serif;
    
}
header{
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;

}
main{
    margin-top: 70px;
}
#logo{
    vertical-align: middle;
    margin: 0 20px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
/* COLONNE */ 
.w-50-header{
    width: 50%;
    float: left;
}
/* LISTS */
.top-list{
    display: inline-block;
    vertical-align: middle;
}
.top-list li{
    display: inline-block; 
    margin: 0 20px;
}
.top-list a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
/* BUTTOMS */
.btn{
color: white;
text-decoration: none;
}
.btn.btn-small{
background-color: #0061FF;
padding: 10px 25px;
margin: 0 20px;
}
.btn.btn-large{

}
/* JUMBO */
.jumbo{
    height: 800px;
    background-color: #B4D0E7;
    padding: 75px;
}

#title{
    font-size: 75px;
}
